<footer class="__footer">
  <div class="shared__footer">
    <div class="socical-media">
      <img src="/img/homepage/Rounded_Facebook_svg-512.png" alt="" /><br />
      <img src="/img/homepage/Rounded_Instagram_svg-512.png" alt="" /><br />
      <img src="/img/homepage/Rounded_Twitter5_svg-512.png" alt="" /><br />
      <img src="/img/homepage/youtube.png" alt="" />
    </div>

    <div class="footer-text">
      <p>DREAM & FLY: Links</p>
      <ul>
        <a href="/about-us"><li>Company Profile</li></a>
        <a href="/articles"><li>Blog</li></a>
        <a href="/users/login"><li>LogIn</li></a>
        <a href="/"><li>HOME</li></a>
        <a href="/"><li>SEARCH</li></a>
      </ul>
    </div>
    <div class="footer-text">
      <p>RESOURCES</p>
      <ul>
        <a href="https://developers.google.com/youtube/v3"><li>YouTube</li></a>
        <a href="https://openweathermap.org/api"><li>Weather</li></a>
        <a href="https://developers.google.com/maps"><li>Google Map</li></a>
        <a href="https://covid-api.mmediagroup.fr/v1/"><li>Covid-19</li></a>
        <a href="https://restcountries.eu/rest/v2"><li>Country Details</li></a>

      </ul>
    </div>
    <img class="logo" src="/img/logo dream & fly.png" />
  </div>

  <div class="rights">
    ©2021 Dream & Fly . All rights reserved. Dream & Fly®, the Dream & Fly Logo
    and Dream & Fly® are service marks owned by Dream & Fly devlopers. <br />
    Dream & Fly fully supports the principles of the Fair of the Equal
    Opportunity Act. Each office is independently owned and operated. Listing
    information is deemed reliable but not guaranteed accurate.
  </div>
  
</footer>
