<footer class="__footer">
  <div class="shared__footer">
    <div class="socical-media">
      <img src="/img/homepage/Rounded_Facebook_svg-512.png" alt="" /><br />
      <img src="/img/homepage/Rounded_Instagram_svg-512.png" alt="" /><br />
      <img src="/img/homepage/Rounded_Twitter5_svg-512.png" alt="" /><br />
      <img src="/img/homepage/youtube.png" alt="" />
    </div>
    <div class="footer-text">
      <p>GENERAL</p>
      <ul>
        <li>Search Cites</li>
        <li>Book Hotels</li>
        <li>Accessibility Statement</li>
        <li>Search Cites</li>
        <li>Book Hotels</li>
        <li>Accessibility Statement</li>
      </ul>
    </div>
    <div class="footer-text">
      <p>ABOUT DREAM & FLY</p>
      <ul>
        <li>Company Profile</li>
        <li>Contact Us</li>
        <li>Blog</li>
        <li>Search Cites</li>
        <li>Book Hotels</li>
        <li>Accessibility Statement</li>
      </ul>
    </div>
    <div class="footer-text">
      <p>RESOURCES</p>
      <ul>
        <li>API1</li>
        <li>API2</li>
        <li>API3</li>
        <li>API4</li>
        <li>API5</li>
        <li>API6</li>
      </ul>
    </div>
    <h2 class="footer-logo">Dream & Fly</h2>
  </div>

  <div class="rights">
    ©2021 Dream & Fly . All rights reserved. Dream & Fly®, the Dream & Fly Logo
    and Dream & Fly® are service marks owned by Dream & Fly devlopers. <br />
    Dream & Fly fully supports the principles of the Fair of the Equal
    Opportunity Act. Each office is independently owned and operated. Listing
    information is deemed reliable but not guaranteed accurate.
  </div>
</footer>
