<header class="shared__header">
  <div class="headerdiv">
    <nav class="header__nav">
      <!-- <a href=""></a> -->
      <a href="/"
        ><img class="logo nav__link" src="/img/logo dream & fly.png"
      /></a>

      <ul>
        <a target="_blank" href="/"><li class="nav__link">Home</li></a>
        <a target="_blank" href="/"><li class="nav__link">Search</li></a>
        <a target="_blank" href="/about-us"
          ><li class="nav__link">About Us</li></a
        >
        <a target="_blank" href="/articles"><li class="nav__link">Blog</li></a>
        <a target="_blank" href="/users/login"
          ><li class="nav__link">Log in</li></a
        >
      </ul>
    </nav>
  </div>

  <section id="updateForm" class="dropdown-content">
    <div class="text-div">
      <ul>
        <a href="/" class="a-dropdown">
          <li>
            HOME
            <h5>Your way to travel</h5>
          </li>
        </a>
        <li>
          Our Branches
          <h5>Jordan - Palestine</h5>
        </li>
        <li>
          Our Partner
          <h5>LTUC-ASAC</h5>
        </li>
        <li>
          Languages
          <h5>English - Arabic</h5>
        </li>
      </ul>
    </div>
    <div class="text-div Palestine">
      <h1 class="Palestine__h1">Palestine is free and proud</h1>
      <h1 class="Palestine__h1">فلسطين حرة أبية</h1>
      <img src="https://beal.egybest.xyz/static/Palestine.gif" alt="" />
    </div>

    <!-- <div class="hr-line"></div> -->

    <div class="dropdown-content-img">
      <img src="/img/homepage/cont.jpg" alt="" />
    </div>
  </section>
</header>
