<header class="shared__header">
  <div class="headerdiv">
    <nav>
      <img class="logo" src="/img/logo dream & fly.png" />
      <ul>
        <a href="/"><li>HOME</li></a>
        <li>JOIN</li>
        <li>ABOUT US</li>
        <li>SEARCH</li>
        <li id="updateBtn">+MORE</li>
      </ul>
    </nav>
    <p class="phone_number">888-888-888</p>
  </div>

  <section id="updateForm" class="dropdown-content">
    <div class="text-div">
      <ul>
        <a href="" class="a-dropdown"
          ><li>
            HOME
            <h5>in progress</h5>
          </li></a
        >
        <li>
          Our Branches
          <h5>in progress</h5>
        </li>
        <li>
          Our Partner
          <h5>in progress</h5>
        </li>
        <li>
          Languages
          <h5>in progress</h5>
        </li>
      </ul>
    </div>
    <div class="text-div">
      <ul>
        <li>
          Cites
          <h5>Locations</h5>
          <h5>Hotels</h5>
          <h5>Weather</h5>
        </li>
        <li>
          LEARNING MORE
          <h5>Travel Advice</h5>
          <h5>Books</h5>
          <h5>Beyond Closing</h5>
          <h5>Real Experinces</h5>
        </li>
      </ul>
    </div>

    <!-- <div class="hr-line"></div> -->

    <div class="dropdown-content-img">
      <img src="/img/homepage/cont.jpg" alt="" />
    </div>
  </section>
</header>
