<header class="shared__header">
  <div class="headerdiv">
    <nav>
      <!-- <a href=""></a> -->
      <img class="logo" src="/img/logo dream & fly.png" />
      <ul>
        <a href="/"><li>HOME</li></a>
        <a href="/"><li>SEARCH</li></a>
        <a href="/about-us"><li>ABOUT US</li></a>
        <a href="/articles"><li>Blog</li></a>
        <a href="/users/login"><li>LogIn</li></a>

        <li id="updateBtn">+MORE</li>
      </ul>
    </nav>
    <p class="phone_number">999-999-999</p>
  </div>

  <section id="updateForm" class="dropdown-content">
    <div class="text-div">
      <ul>
        <a href="/" class="a-dropdown">
          <li>
            HOME
            <h5>Your way to travel</h5>
          </li>
        </a>
        <li>
          Our Branches
          <h5>Jordan - Palestine</h5>
        </li>
        <li>
          Our Partner
          <h5>LTUC-ASAC</h5>
        </li>
        <li>
          Languages
          <h5>English - Arabic</h5>
        </li>
      </ul>
    </div>
    <div class="text-div Palestine">
      <h1 class="Palestine__h1">Palestine is free and proud</h1>
      <h1 class="Palestine__h1">فلسطين حرة أبية</h1>
      <img src="https://beal.egybest.xyz/static/Palestine.gif" alt="" />
    </div>

    <!-- <div class="hr-line"></div> -->

    <div class="dropdown-content-img">
      <img src="/img/homepage/cont.jpg" alt="" />
    </div>
  </section>
</header>
