.login__main {
  height: 70vh;
  margin-top: 50px;

  /* margin: 50px 0px; */
}
.login__login__box {
  gap: 10px;
  width: 50%;
  height: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  background-color: #252526;
  color: white;
}
.login__login__box h1 {
  font-size: 32px;
}

.login__login__box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.login__login__box form input {
  width: 100%;
}

.login__login__box form input[type="submit"] {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  padding: 10px 0px;
}
.login__login__box form input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
