<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head') %>
  <body class="aboutUs_body">
    <%- include('../layouts/header') %>
    <!-- Your code here -->

    <main>

      <h2 class="aboutUs_h2">Meet The Team</h2>
      <hr class="line">
      <section class="aboutUs_team">
      <div class="aboutUs_memberOne">
          <img class="aboutUs_img imgOne" src="abdullah.jpg" alt="">
          <h3 class="aboutUs_h3">Team Leader:</h3>
          <h4 class="aboutUs_h4">Abdullah AlSawalmeh</h4>
          <p class="aboutUs_p">26 years old, with M.Sc. degree in Mechatronics engineering. Abdullah is passionate about learning more about programming.</p>
          <div class="aboutUs_contact">
              <a href="#" class="aboutUs_github"><img src="GitHub-Mark-32px.png" alt=""></a>
              
              <a href="#" class="aboutUs_linkedIn"><img src="linkedIn_PNG38.png" alt=""></a>
          </div>
      </div>
      <div class="aboutUs_memberTwo">
          <img class="aboutUs_img imgTwo" src="ayman.jpg" alt="">
          <h3 class="aboutUs_h3">Team Member:</h3>
          <h4 class="aboutUs_h4">Ayman Naif</h4>
          <p class="aboutUs_p">25 years old, with B.Sc. degree in Electrical engineering. he is enthusiastic about learning programming and having new
              experiences.</p>
              <div class="aboutUs_contact">
              <a href="#" class="aboutUs_github"><img src="GitHub-Mark-32px.png" alt=""></a>
              
              <a href="#" class="aboutUs_linkedIn"><img src="linkedIn_PNG38.png" alt=""></a>
          </div>
      </div>
      <div class="aboutUs_memberThree">
          <img class="aboutUs_img imgThree" src="Amarah.jpg" alt="">
          <h3 class="aboutUs_h3">Team Member:</h3>
          <h4 class="aboutUs_h4">Amarah abusohyon</h4>
          <p class="aboutUs_p">24 years old, with Bachelor degree in Biomedical Informatics engineering. Amarah is passionate about programming and deep learning</p>
          <div class="aboutUs_contact">
              <a href="#" class="aboutUs_github"><img src="GitHub-Mark-32px.png" alt=""></a>
              
              <a href="#" class="aboutUs_linkedIn"><img src="linkedIn_PNG38.png" alt=""></a>
          </div>
      </div>
      <div class="aboutUs_memberFour">
          <img class="aboutUs_img imgFour" src="tareq.jpg" alt="">
          <h3 class="aboutUs_h3">Team Member:</h3>
          <h4 class="aboutUs_h4">Tareq Megdadi</h4>
          <p class="aboutUs_p">29 years old, with MS degree in Computer science. Tareq is passionate about learning more about programming and hope to be the CEO of my self.</p>
          <div class="aboutUs_contact">
              <a href="#" class="aboutUs_github"><img src="GitHub-Mark-32px.png" alt=""></a>
              
              <a href="#" class="aboutUs_linkedIn"><img src="linkedIn_PNG38.png" alt=""></a>
          </div>
      </div>
      <div class="aboutUs_memberFive">
          <img class="aboutUs_img imgFive" src="abdelhadi.jpg" alt="">
          <h3 class="aboutUs_h3">Team Member:</h3>
          <h4 class="aboutUs_h4">Abdelhadi Nofal</h4>
          <p class="aboutUs_p">27 years old, with Bachelor degree in Civil engineering. Abdel Hadi is passionate about website design and  programming.</p>
          <div class="aboutUs_contact">
              <a href="#" class="aboutUs_github"><img src="GitHub-Mark-32px.png" alt=""></a>
              
              <a href="#" class="aboutUs_linkedIn"><img src="linkedIn_PNG38.png" alt=""></a>
          </div>
      </div>
  </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/public/js/app.js"></script>
    <%- include('../layouts/footer') %> <%- include('../layouts/scripts') %>
  </body>
</html>
