<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head') %>
  <body>
    <div class="homepage__body">
      <%- include('../layouts/header') %>
      <!-- Your code here -->
      <main class="homepage__main">
        <section class="homepage__section__1">
          <section class="detail-box">
            <p class="detail-box-content-1">
              UNLIMITED <br />
              HORIZONS
            </p>
            <p class="detail-box-content-2">
              DON`T AFRAID <br />
              FOR DREAMING
            </p>
          </section>

          <section>
            <form action="/results/" method="GET" class="homepage__searchform">
              <input
                name="search_query"
                type="text"
                placeholder="Search cites & travel"
                class="homepage__searchbar"
              />

              <br />
              <button class="homepage__search__btn">Search</button>
            </form>
          </section>
        </section>

        <!-- <section class="explor">
          <a href="#articles-explor"
            ><button class="explor-button">EXPLORE</button></a
          >
        </section> -->
        <section class="articles__sections" id="articles-explor">
          <div class="aticles-text">
            <div class="about-site">
              <h4>GURANTEED 100%</h4>
              <h2>DREAM & FLY</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur frgvsfdb sfdgvdsv ,
                adipisicing elit. Hic
                <br />
                veniam ipsum voluptate vdsfsdgs dsfdsfnumquam reprehenderit quos
                quaerat at.<br />
                Illo at, excepturi eaque, quaerat cdsfdf dsfds onsectetur quod
                iusto<br />
                molestiae animi dsf dsfsdf dsfdsf sdquam earum iste.
              </p>
              <div class="ver-line">
                <h3>Dream with us</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur frgvsfdb sfdgvdsv ,
                  adipisicing elit. Hic
                  <br />
                  veniam ipsum voluptate vdsfsdgs dsfdsfnumquam reprehenderit
                  quos quaerat at.<br />
                  Illo at, excepturi eaque, quaerat dsfdsvgs dsvsddad
                  fdsfdsfda<br />
                  cdsfdf dsfds onsectetur quod iusto molestiae animi dsf
                  <br />dsfsdf dsfdsf sdquam earum iste.
                </p>
                <button class="about-us-btn">About Us</button>
              </div>
            </div>
          </div>
          <div class="aticles-img">
            <img src="img/homepage/plane.jpg" alt="" class="aticles-img" />
          </div>
        </section>
        <section class="articles__sections2">
          <div class="aticles-text1">
            <h4>LEADING FOR GLORY</h4>
            <h2>WORLDWIDE EXPERIENCE</h2>
            <h5>TEST YOUR DREAMS</h5>
            <h6>
              Since We Joined ASAC, Dream & Fly Team has set the standard To
              Achive Our Goals. So, when it comes to your dream, never settle.
              Move with Us the Dream & Fly Team on your side.
            </h6>
          </div>
          <div class="article-template">
            <div class="article-template-text">
              <h3>ARTICLE TITLE</h3>
              <img
                src="https://via.placeholder.com/300.png/
  
              C/O https://placeholder.com/"
                alt=""
              />
              <P>descriptions </P>
            </div>
            <div class="article-template-text">
              <h3>ARTICLE TITLE2</h3>
              <img
                src="https://via.placeholder.com/300.png/
  
              C/O https://placeholder.com/"
                alt=""
              />
              <P>descriptions </P>
            </div>
            <div class="article-template-text">
              <h3>ARTICLE TITLE3</h3>
              <img
                src="https://via.placeholder.com/300.png/
  
              C/O https://placeholder.com/"
                alt=""
              />
              <P>descriptions </P>
            </div>
          </div>
        </section>
      </main>
      <%- include('../layouts/footer') %>
    </div>
    <%- include('../layouts/scripts') %>
  </body>
</html>
